{% extends "package/edit.html.twig" %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('packeton/js/uploadZipball.js')}}"></script>
{% endblock %}

{% block submit_form_guide %}
    <div class="col-md-6">
        {% include 'package/zipball.html.twig' with {'pathArtifact': true} %}
    </div>
{% endblock %}
