.git
.gitignore
.env.local
.env.local.php
.env.*.local
public/bundles/
var/
vendor/
.docker
.vscode
.idea
.phan
docs/
excluded/
.DS_Store
.github
book/
tests/
book.toml
CONTRIBUTING.md
SECURITY.md
UPGRADE.md
phpunit.xml.dist
