{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
<section class="row">
    {% for packageInfo in packages %}
        {% set package = packageInfo.package %}
        {% set dependencies = packageInfo.dependencies %}
        {% include 'PackagistWebBundle:Package:package.html.twig' %}
    {% endfor %}

    {% if packages.haveToPaginate() %}
        {{ pagerfanta(packages, 'twitter_bootstrap', {'proximity': 2}) }}
    {% endif %}
</section>
{% endblock %}
