{% extends "user/unauthorized.html.twig" %}

{% block title %}Reset your password - {{ parent() }}{% endblock %}


{% block content_cetral_form %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
