<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <title>{{ alias|capitalize }} Mirror</title>

        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <style>
            body { font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }
            .title { text-align: center}

            @media screen and (min-width: 768px) {
                h1 { font-size: 500% }
                h1 > img { width: 10%; }
            }
            @media screen and (max-width: 768px) {
                h1 { font-size: 300% }
                h1 > img { width: 61px; }
            }
            .bash {
                overflow: auto;
                border-radius: 0 .125rem .125rem 0;
                background: #e6e6e6;
                padding: .75rem;
                margin: .5rem;
                border-left: .25rem solid #1565c0;
                font-family: monospace, monospace;
            }
            .bash > span { font-family: monospace, monospace; }
            mark.default { background: rgba(220,220,220,0.75); color: #212121; }
            .img-valign {
              vertical-align: middle;
            }
        </style>


    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                    <div class="title">
                        <h1>
                            {{ alias|capitalize }} Mirror
                            {% if repo.logo %}
                                <img src="{{ repo.logo }}" alt="Composer Proxy"/>
                            {% endif %}
                        </h1>

                    </div>
                    <p>
                        This is PHP package repository {{ repo.alias }} mirror site.
                    </p>
                    <p>
                        If you're using PHP Composer, commands like <mark class="default">create-project</mark>, <mark class="default">require</mark>, <mark class="default">update</mark>, <mark class="default">remove</mark> are often used.
                        When those commands are executed, Composer will download information from the packages that are needed also from dependent packages. The number of json files downloaded depends on the complexity of the packages which are going to be used.
                        The further you are from the location of the packagist.org server, the more time is needed to download json files. By using mirror, it will help save the time for downloading because the server location is closer.
                    </p>
                    <p>
                        Please do the following command to change the PHP Composer config to use this site as default Composer repository.
                    </p>

                    <div class="bash">
                        {% include 'proxies/info_repo.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
