{% extends "layout.html.twig" %}

{% block title %}{{ proxy.alias }} - Proxy - {{ parent() }}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 package">
        <div class="row">
            <div class="col-md-7">
                {% include 'proxies/info_caps.html.twig' %}
            </div>
            <div class="col-md-5">
                {% include 'proxies/info_repo.html.twig' %}
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="btn-group btn-group-xs">
                <form class="settings action" action="{{ path('proxy_settings', {'alias': proxy.alias }) }}">
                    <input class="btn btn-default" type="submit" value="Settings" />
                </form>

                <form class="update action" action="" method="PUT">
                    <input type="hidden" name="update" value="1" />
                    <input class="btn btn-success" type="submit" value="Update" />
                </form>

                <form class="force-update action" action="" method="PUT">
                    <input type="hidden" name="update" value="1" />
                    <input class="btn btn-danger" type="submit" value="Force resync" />
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
