<div class="modal-header">
    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Edit metadata</h4>
</div>
<div class="modal-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a data-toggle="collapse" href="#examp1" aria-expanded="false" aria-controls="examp1">
        [+] Example
    </a>

    <div class="collapse" id="examp1">
        <div class="form-group">
            <textarea class="form-control" readonly rows="6">{{ example }}</textarea>
        </div>
    </div>

</div>
<div class="modal-footer" style="border-top: none">
    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save</button>
</div>
