{% extends "PackagistWebBundle::layout.html.twig" %}

{% block content %}
    <h2 class="title">Add ssh keys</h2>
    <section class="row">
        {{ form_start(form, { attr: { class: 'col-md-6' } }) }}
        {{ form_rest(form) }}
        <input class="btn btn-block btn-success btn-lg" type="submit" value="ADD KEY" />
        {{ form_end(form) }}
        <div class="col-md-6">
        </div>
    </section>
{% endblock %}
