name: Docker GitHub registry

on:
    push:
        paths:
            - 'src/**'
            - 'public/**'
            - 'config/**'
            - 'templates/**'
            - 'Dockerfile'
            - 'docker/**'
        branches:
            - master
    workflow_dispatch:

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2

            -   name: Cache Docker layers
                uses: actions/cache@v3
                with:
                    path: /tmp/.buildx-cache
                    key: ${{ runner.os }}-gcr-docker

            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v2
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Push Docker image to GitHub Container Registry
                uses: docker/build-push-action@v4
                with:
                    context: .
                    push: true
                    tags: ghcr.io/${{ github.repository }}:latest
                    platforms: linux/amd64
                    cache-from: type=local,src=/tmp/.buildx-cache
                    cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

            -   name: Move cache
                run: |
                    rm -rf /tmp/.buildx-cache
                    mv /tmp/.buildx-cache-new /tmp/.buildx-cache
